/**
 * @file
 * Block Styling
 */
/* line 9, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
  text-align: justify;
}
/* line 15, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 18, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 21, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 24, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 26, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
  color: #0167a7;
  text-transform: uppercase;
  border-bottom: 4px solid #9E2013;
}
/* line 32, ../sass/blocks.scss */
.block p {
  /* Block title */
  padding: 0px;
  margin: 0px;
  padding: 10px;
}

/* line 42, ../sass/blocks.scss */
.sidebar .block {
  background-color: #ffffff;
  color: #000;
}
/* line 48, ../sass/blocks.scss */
.sidebar h2.block-title {
  /* Block title */
  padding-top: 1em;
  padding-bottom: 1em;
  background: url(http://localhost/nol/images/Reptiles.gif);
  background-position: top right;
  background-color: #AD995C;
  border-bottom: 4px solid #AD995C;
  color: #0167a7;
  text-align: center;
  padding-left: 0.5em;
  font-size: 12px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}
/* line 64, ../sass/blocks.scss */
.sidebar p {
  /* Block title */
  padding: 0px;
  margin: 0px;
  padding: 10px;
}

/* line 71, ../sass/blocks.scss */
.region-footer {
  color: blue;
}

/* line 75, ../sass/blocks.scss */
.region-bottom {
  color: grey;
}

/* line 80, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 83, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 86, ../sass/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
}

/* line 89, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 92, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 95, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 98, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 101, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 104, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 107, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 110, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 113, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 116, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 119, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 122, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
}

/* line 125, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 128, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 131, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 134, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 137, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 140, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 143, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 146, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 149, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 152, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 155, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 158, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}
