/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
/* line 10, ../sass/nodes.scss */
#page-title {
  color: #0167a7;
  border-bottom: 2px solid black;
}

/* line 14, ../sass/nodes.scss */
.node {
  /* Node wrapper */
}
/* line 15, ../sass/nodes.scss */
.node a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
/* line 22, ../sass/nodes.scss */
.preview .node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
/* line 26, ../sass/nodes.scss */
.node .node-title {
  /* Node title */
  border-bottom: 4px solid #0167a7;
}
/* line 29, ../sass/nodes.scss */
.node .node-title a, .node .node-title a:hover, .node .node-title a:visited {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}
/* line 39, ../sass/nodes.scss */
.node .user-picture {
  /* The picture of the node author */
}
/* line 42, ../sass/nodes.scss */
.node .submitted {
  /* The "posted by" information */
}
/* line 45, ../sass/nodes.scss */
.node .content {
  /* Node's content wrapper */
}
/* line 48, ../sass/nodes.scss */
.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}

/* line 53, ../sass/nodes.scss */
.node-promoted {
  /* A node that has been promoted to the front page */
}

/* line 56, ../sass/nodes.scss */
.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

/* line 59, ../sass/nodes.scss */
.node-by-viewer {
  /* A node created by the current user */
}

/* line 62, ../sass/nodes.scss */
.node-teaser {
  /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* line 71, ../sass/nodes.scss */
.node-page {
  /* Page content node */
}
/* line 73, ../sass/nodes.scss */
.node-page h2 {
  margin: 0px;
  padding: 0px;
}

/* line 79, ../sass/nodes.scss */
.node-readmore a {
  /* Article content node */
  text-align: center;
  text-decoration: none;
  background: url(../images/blue-button.png);
  color: white;
  padding: 0.2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 89, ../sass/nodes.scss */
.node-article {
  /* Article content node */
}

/* line 92, ../sass/nodes.scss */
.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 95, ../sass/nodes.scss */
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
