/**
 * @file
 * Block Styling
 */

@import "base";


.block { /* Block wrapper */
  margin-bottom: 1.5em;

   text-align: justify;
   
     
  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }
  h2.block-title { /* Block title */
color: #0167a7;
text-transform: uppercase;
 border-bottom: 4px solid #9E2013;
 
  }
p { /* Block title */
padding: 0px;
margin: 0px;
padding: 10px;
 
  } 

}

.sidebar{
.block {


  background-color: #ffffff;  
 color:#000;
 }
 h2.block-title { /* Block title */
padding-top: 1em;
padding-bottom: 1em;
 background: url(http://localhost/nol/images/Reptiles.gif);
 background-position: top right;
 background-color: #AD995C;
 border-bottom: 4px solid #AD995C;


 color:#0167a7;
 text-align:center;
 padding-left: 0.5em;
 font-size: 12px;
 @include border-radius(5px 5px 0px 0px);
  }
  
 p { /* Block title */
padding: 0px;
margin: 0px;
padding: 10px;
 
}  
}
.region-footer{
color:blue;

}
.region-bottom{
color:grey;

}

#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}
