/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";

#page-title{
color: #0167a7;
 border-bottom: 2px solid black;
}
.node { /* Node wrapper */
 a{
  text-decoration: none;
  margin: 0;
  padding: 0;
 }
 
 
 .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */

 border-bottom: 4px solid #0167a7;
 a,a:hover,a:visited{

  text-decoration: none;
  color:black;
  margin: 0;
  padding: 0;
 }
 
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */

h2{
margin: 0px;
padding:0px;
}

}
.node-readmore a { /* Article content node */
text-align:center;
text-decoration: none;
background: url(../images/blue-button.png);
color:white;

padding: 0.2em;
@include border-radius(5px);

}
.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}
