/**
 * @file
 * RTL companion for the responsive-sidebars.css file.
 */
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
/* line 42, ../../sass/layouts/responsive-sidebars.scss */
#s {
  margin-top: 0.3em;
}

/* line 47, ../../sass/layouts/responsive-sidebars.scss */
#page,
.region-header,
#spa {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  text-decoration: none;
  font-size: 14px;
  color: #0B090F;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* line 59, ../../sass/layouts/responsive-sidebars.scss */
#page {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #E3E2B8;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 2em;
}

/* line 69, ../../sass/layouts/responsive-sidebars.scss */
html {
  background-color: black;
}

/* line 73, ../../sass/layouts/responsive-sidebars.scss */
#s {
  background: url(http://localhost/nol/images/xx.jpg);
  background-attachment: fixed;
  background-color: #888888;
  text-decoration: none;
  text-align: justify;
  padding-bottom: 10px;
}

/* line 82, ../../sass/layouts/responsive-sidebars.scss */
#bg {
  padding: 10px;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  background-color: black;
}

/* line 91, ../../sass/layouts/responsive-sidebars.scss */
.region-header {
  margin-bottom: 1em;
  background: black;
  /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 96, ../../sass/layouts/responsive-sidebars.scss */
.region-header a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: white;
}

/* line 112, ../../sass/layouts/responsive-sidebars.scss */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
.region-bottom,
.region-footer,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after,
.region-header:before,
.region-header:after,
#spa:before,
#spa:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after,
.region-header:after,
#spa:after {
  clear: both;
}

/* 
 * Navigation bar
 */
@media all and (min-width: 480px) {
  /* line 133, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    /* Move all the children of #main down to make room. */
    position: relative;
  }

  /* line 137, ../../sass/layouts/responsive-sidebars.scss */
  #slider {
    /* Move all the children of #main down to make room. */
    padding-bottom: 3em;
  }

  /* line 141, ../../sass/layouts/responsive-sidebars.scss */
  #navigation {
    position: absolute;
    top: 0;
    /* Move the navbar up inside #main's padding. */
    height: 3em;
    width: 100%;
  }
}
@media all and (min-width: 480px) and (max-width: 959px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 162, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: right;
    width: 66.667%;
    margin-right: 0%;
    margin-left: -66.667%;
  }
  /* line 166, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 33.333%;
    margin-right: 0%;
    margin-left: -33.333%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  /* line 177, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 2 columns, starting in 1st column from left. */
    float: right;
    width: 66.667%;
    margin-right: 0%;
    margin-left: -66.667%;
  }
  /* line 181, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 3rd column from left. */
    float: right;
    width: 33.333%;
    margin-right: 66.667%;
    margin-left: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 191, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: right;
    width: 66.667%;
    margin-right: 33.333%;
    margin-left: -100%;
  }
  /* line 196, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 33.333%;
    margin-right: 0%;
    margin-left: -33.333%;
  }
  /* line 200, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Start a new row and span all 3 columns. */
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: right;
  }
  /* line 205, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 208, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: right;
    width: 33.333%;
    margin-right: 0%;
    margin-left: -33.333%;
    clear: right;
  }
  /* line 212, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: right;
    width: 33.333%;
    margin-right: 33.333%;
    margin-left: -66.667%;
  }
  /* line 215, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: right;
    width: 33.333%;
    margin-right: 66.667%;
    margin-left: -100%;
  }

  /* line 220, ../../sass/layouts/responsive-sidebars.scss */
  .region-bottom {
    /* Start a new row and span all 3 columns. */
    clear: right;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 227, ../../sass/layouts/responsive-sidebars.scss */
  .region-bottom .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 230, ../../sass/layouts/responsive-sidebars.scss */
  .region-bottom .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: right;
    width: 33.333%;
    margin-right: 0%;
    margin-left: -33.333%;
    clear: right;
  }
  /* line 234, ../../sass/layouts/responsive-sidebars.scss */
  .region-bottom .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: right;
    width: 33.333%;
    margin-right: 33.333%;
    margin-left: -66.667%;
  }
  /* line 237, ../../sass/layouts/responsive-sidebars.scss */
  .region-bottom .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: right;
    width: 33.333%;
    margin-right: 66.667%;
    margin-left: -100%;
  }
}
@media all and (min-width: 960px) {
  /*
   * Use 5 grid columns for larger screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 255, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 4 columns, starting in 2nd column from left. */
    float: right;
    width: 66.667%;
    margin-right: 16.667%;
    margin-left: -83.333%;
  }
  /* line 259, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 33.333%;
    margin-right: 0%;
    margin-left: -33.333%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  /* line 269, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 4 columns, starting in 1st column from left. */
    float: right;
    width: 66.667%;
    margin-right: 0%;
    margin-left: -66.667%;
  }
  /* line 273, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: right;
    width: 33.333%;
    margin-right: 66.667%;
    margin-left: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 283, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 3 columns, starting in 2nd column from left. */
    float: right;
    width: 50%;
    margin-right: 16.667%;
    margin-left: -66.667%;
  }

  /* line 290, ../../sass/layouts/responsive-sidebars.scss */
  .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 16.667%;
    margin-right: 0%;
    margin-left: -16.667%;
  }

  /* line 294, ../../sass/layouts/responsive-sidebars.scss */
  .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: right;
    width: 16.667%;
    margin-right: 66.667%;
    margin-left: -83.333%;
  }

  /* line 297, ../../sass/layouts/responsive-sidebars.scss */
  .region-bottom {
    /* Start a new row and span all 3 columns. */
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: right;
  }
  /* line 304, ../../sass/layouts/responsive-sidebars.scss */
  .region-bottom .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 307, ../../sass/layouts/responsive-sidebars.scss */
  .region-bottom .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: right;
    width: 33.333%;
    margin-right: 0%;
    margin-left: -33.333%;
    clear: right;
  }
  /* line 311, ../../sass/layouts/responsive-sidebars.scss */
  .region-bottom .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: right;
    width: 33.333%;
    margin-right: 33.333%;
    margin-left: -66.667%;
  }
  /* line 314, ../../sass/layouts/responsive-sidebars.scss */
  .region-bottom .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: right;
    width: 33.333%;
    margin-right: 66.667%;
    margin-left: -100%;
  }

  /* line 319, ../../sass/layouts/responsive-sidebars.scss */
  .region-footer {
    clear: right;
    float: right;
    width: 66.667%;
    margin-right: 33.333%;
    margin-left: -100%;
  }
}
/* line 328, ../../sass/layouts/responsive-sidebars.scss */
#sn {
  max-width: 100%;
  max-height: 70%;
  display: block;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 3px 4px 0px #939393;
}
